.inicio{
    background-color: #FFFFFF;
    text-align: center;
    width: 30%; 
    font-size: 270%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%; 
    border-radius: 15px;
  }
@media only screen and (max-width: 600px){
    .inicio{
        width: 70%;
        font-size: 220%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 9%;
      }
}