.navbar {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        font-size: 1.2rem;
        position:fixed;
        min-width: 100%;
    }
.kwok {
        color: white;
        text-decoration: none;
        font-size: 2.1rem;
        cursor: pointer;
        justify-self: left
    }
.nav_left {
        display: flex;
        width: 50%;
        justify-content: left;
        align-items: center;
        margin-left: 45px;
    }
.nav_right{
        display: flex;
        width: 50%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 45px;
    }
.button {
    background-color: black;
    border: none;
    cursor:pointer;
    outline: none;
}

@media screen and (max-width: 1400px){
    .nav_right button{
        display: none;
    }
    .menu_item_dis {
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        text-decoration: none;
        padding: 0.85rem;
    }
    .menu_item_dis:hover {
        background-color: #0D71E8;
        border-radius: 4px;
        transition: all 0.2s ease-out
    }
    .menu_exit_dis{
        color: black;
        background-color: white;
        text-decoration: none;
        cursor: pointer;
        padding: 0.85rem;
        font-size: 1.3rem;
        border-radius: 9px;
    }
    .menu_exit_dis:hover{
        background-color: #0D71E8;
        border-radius: 9px;
        transition: all 0.2s ease-out
    }
    .menu_item {
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        text-decoration: none;
        padding: 0.85rem;
    }
    .menu_item:hover {
        background-color: #0D71E8;
        border-radius: 4px;
        transition: all 0.2s ease-out
    }
    .exit{
        color: black;
        background-color: white;
        text-decoration: none;
        cursor: pointer;
        padding: 0.85rem;
        font-size: 1.3rem;
        border-radius: 9px;
    }
    .exit:hover{
        background-color: #0D71E8;
        border-radius: 9px;
        transition: all 0.2s ease-out
    }
}
@media screen and (max-width: 800px){
    .menu_item_dis {
        font-size: 1rem;
    }
    .menu_item {
        font-size: 1rem;
    }
    .exit{
        font-size: 1rem;
    }
    .menu_exit_dis{
        font-size: 1rem;
    }
}
@media screen and (max-width: 600px){
    .menu_appear{
        position: fixed;
        display: flex;
        top: 80px;
        left: 0;
        height: 500px;
        background-color: black;
        width: 100%;
        z-index: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.4s ease;
    }
    .menu_item{
        font-size: 1.3rem;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        text-decoration: none;
        padding: 0.85rem;
    }
    .menu_item:hover {
        background-color: #0D71E8;
        border-radius: 4px;
        transition: all 0.2s ease-out
    }
    .exit{
        font-size: 1.3rem;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: white;
        text-decoration: none;
        cursor: pointer;
        padding: 0.85rem;
        font-size: 1.3rem;
        border-radius: 9px;
    }
    .exit:hover{
        background-color: #0D71E8;
        border-radius: 9px;
        transition: all 0.2s ease-out
    }
    .menu_item_dis{
        display: none;
    }
    .menu_exit_dis{
        display: none;
    }
    .nav_right .button{
        display: flex;
    }
    .nav_right {
        margin-right: 35px;
    }
}